// out: index.css, compress:true, sourceMap:true

@black1: #303133;
@black2: #606266;
@black3: #909399;
@black4: #C0C4CC;

#app {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: #f5f5f5;
}

@z-index-sidebar: 4; // 侧边栏
@z-index-fixation: 3; // 顶部固定栏
@z-index-sorttab: 3; // 顶部固定栏
@z-index-storeType-shade: 2; // 门店类型 遮罩
@z-index-service: 5; // 服务项目 遮罩
@z-index-service-shade: 4; // 服务项目 遮罩

.shopslist {

    // 搜索栏
    .searchBar {
        height: 55px;
        background: #fff;
        border-bottom: 1px solid #ddd;
    
        .searchBar-input {
            padding-left: 15px;
    
            .searchBar-input-content {
                height: 35px;
                background: #f1f1f2;
                border-radius: 5px;
            }
    
            .input-content-icon {
                height: 35px;
                width: 35px;
            }
    
            input {
                height: 35px;
                line-height: 35px;
                border: none;
                outline: none;
                font-size: 16px;
                color: #909399;
                background-color: transparent;
            }
            input::-webkit-input-placeholder{
                color: #909399;
            }
            input::-moz-placeholder{   /* Mozilla Firefox 19+ */
                color: #909399;
            }
            input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
                color: #909399;
            }
            input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
                color: #909399;
            }
    
        }
    
        .searchBar-icon {
            width: 55px;
            height: 55px;
        }
    }

    
    
    // 产品列表
    .products {
        background: #fff;
    
        .products-item {
    
            .products-item-content {
                padding: 15px;
                
            }
        }
    
        .products-item-img {
            width: 90px;
            height: 70px;
    
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    
        .products-item-main {
            padding-left: 15px;
    
            .item-main-title {
                color: @black1;
                padding-bottom: 15px;
                font-size: 16px;
            }
    
            .item-main-bottom {
                font-size: 14px;
                color: @black3;
    
            }
        }
    
        .products-item-line {
            padding-left: 15px;
            .item-line-content {
                height: 1px;
                background: #ddd;
                width: 100%;
            }
        }
    }
    
    // 返回顶部
    .backTop {
        position: fixed;
        bottom: 25px;
        right: 25px;
        width: 40px;
        height: 40px;
        border: 1px solid #ddd;
        border-radius: 40px;

        svg {
            fill: #606266;
        }
    }
    .backTop:active {
        border: 1px solid #f23030;

        svg {
            fill: #f23030;
        }
    }
    
    // 加载
    .bottom-describe {
        padding: 25px;
        text-align: center;
        color: @black3;
    }

}
